<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>查看文章</title>
    <link rel="stylesheet" href="__ADMIN__/vendor/layui/css/layui.css">
    <link rel="stylesheet" href="__ADMIN__/custom/css/style.css">
</head>

<body class="layui-layout-body" style="padding:10px 10px;margin-bottom:50px;">
    <div class="layui-container">
        {volist name="art" id="vo"}
        <div class="layui-tab-card" style="width: 100%">
            <div><img src="/{$vo.images}" alt=""></div>
            <div class="layui-tab-content">
                <h6 style="color: #009688;font-size: 30px">{$vo.title}</h6><br>
                <span>{$vo.createdat|date='Y/m/d H:i',###}</span>&nbsp;&nbsp;<span><i class="layui-icon" style="color: red">&#xe756;</i>{$vo.hits}</span>
                <hr class="layui-bg-black" style="width: 40%;">
            </div>
            <div class="layui-card-body" style="padding: 10px">
                {$vo.content}
            </div>
            <a href="{:url('comment/commlist',['aid'=>$vo.articleid])}">查看评论</a>
            <a href="{:url('comment/index',['aid'=>$vo.articleid])}">评论</a>
        </div>
        {/volist}
    </div>

    <script src="__ADMIN__/vendor/js/jquery.js"></script>
    <script src="__ADMIN__/vendor/layui/layui.js"></script>
    <script src="__ADMIN__/custom/js/admin.js"></script>

    <script>
        //Demo
        layui.use(['form', 'element'], function () {
            var form = layui.form;
            var element = layui.element;
            //监听提交
            form.on('submit(formDemo)', function (data) {});
        });
        $(function () {
            $(window.parent.document).find('#righttitle').text($('title').text());
        });
    </script>
</body>

</html>